@import 'colors.css';
@import 'typography.css';

.cobase-top-block {
  width: 100%;
  padding-top: 220px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 24px;

  &__header {
    display: flex;
    align-items: center;
    text-align: left;
    height: 70px;
    font-size: 48px;
    font-family: var(--font-tisa-ot-lt);
    letter-spacing: -0.2px;
    padding-left: 80px;

    @media (max-width: 767px) {
      font-size: 26px;
      height: 38px;
      padding-left: 16px;
    }
  }

  &__platform {
    display: flex;
    align-items: center;
    text-align: left;
    height: 70px;
    font-size: 48px;
    font-family: var(--font-tisa-ot-lt);
    color: var(--color-gray-light);
    padding-left: 80px;

    @media (max-width: 767px) {
      font-size: 26px;
      height: 38px;
      padding-left: 16px;
    }
  }

  @media (max-width: 767px) {
    padding-top: 109px;
  }
}
