@import 'colors.css';
@import 'typography.css';

.wifog-top-block {
  width: 100%;
  padding-top: 220px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 80px;

  &__header {
    display: flex;
    align-items: center;
    text-align: left;
    min-height: 70px;
    font-size: 48px;
    font-family: var(--font-tisa-ot-lt);
    letter-spacing: -0.2px;

    @media (max-width: 767px) {
      font-size: 26px;
      min-height: 38px;
    }
  }

  &__platform {
    display: flex;
    align-items: center;
    text-align: left;
    width: 100%;
    min-height: 70px;
    font-size: 48px;
    font-family: var(--font-tisa-ot-lt);
    color: var(--color-gray-light);

    @media (max-width: 767px) {
      font-size: 26px;
      min-height: 38px;
    }
  }

  @media (max-width: 767px) {
    padding: 109px 17px 0 17px;
  }
}
