.animated-image {
  transform: translateY(0);
  transition: transform 1s;
  pointer-events: none;
  min-width: 100%;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;

  &__wrapper {
    cursor: pointer;
    pointer-events: auto;
    overflow: hidden;
    border-radius: 3px;
    max-width: 100%;
    height: auto;
    transition: transform .3s ease-in-out;

    &:hover {
      transform: scale(.97);

      & .animated-image__image {
        transform: scale(1.1);
      }
    }
  }

  &__image {
    max-width: 100%;
    height: auto;
    transition: transform .3s ease-in-out;
    transform: scale(1);
  }
}
