/* fonts */
@import 'typography.css';

@font-face {
  font-family: var(--font-heebo);
  src: url('~assets/fonts/Heebo-Regular.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: var(--font-heebo-md);
  src: url('~assets/fonts/Heebo-Medium.woff2') format('woff2');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: var(--font-heebo-lt);
  src: url('~assets/fonts/Heebo-Light.woff2') format('woff2');
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: var(--font-heebo-bd);
  src: url('~assets/fonts/Heebo-Bold.woff2') format('woff2');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: var(--font-sfns);
  src: url('~assets/fonts/SFNS-Display-Regular.woff') format('woff');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: var(--font-akagi-pro-bd);
  src: url('~assets/fonts/Akagi-Pro-bold.woff2') format('woff2');
  font-style: normal;
  font-weight: 900;
}

@font-face {
  font-family: var(--font-tisa-pro-md);
  src: url('~assets/fonts/TisaPro-Medi.woff2') format('woff2');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: var(--font-tisa-ot-lt);
  src: url('~assets/fonts/FF-Tisa-OT-Light.woff2') format('woff2');
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: var(--font-akagi-pro-lt);
  src: url('~assets/fonts/Akagi-Pro-light.woff2') format('woff2');
  font-style: normal;
  font-weight: 300;
}
