/* css/shared/colors.css */

:root {
  --color-main: #000E24;

  --color-white: #ffffff;
  --color-black: #000000;
  --color-black-light: #000E24;
  --color-blue: #006BC4;
  --color-green-light: #3DCF62;
}
