/* css/shared/typography.css */

:root {
  --font-heebo: "Heebo-Regular";
  --font-heebo-md: "Heebo-Medium";
  --font-heebo-lt: "Heebo-Light";
  --font-heebo-bd: "Heebo-Bold";
  --font-sfns: "San Francisco";
  --font-apple-system: BlinkMacSystemFont, sans-serif;
}
