@import "shared/colors.css";
@import "shared/typography.css";


.projects {
  margin-bottom: 160px;

  &__title {
    font-family: var(--font-sfns);
    font-size: 35px;
    color: var(--color-white);
    letter-spacing: -0.1px;
    text-align: left;
    height: 52px;
    display: flex;
    align-items: center;
    margin-bottom: 56px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__item {
    display: flex;
    align-items: center;
    width: 480px;

    &:not(:nth-child(-n+2)) {
      margin-top: 46px;
    }
  }
}
