@import 'colors.css';
@import 'typography.css';

.assistant {
  display: flex;
  width: 100%;
  padding: 0 80px 0 80px;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 78px;

  &__info {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    &__header {
      display: flex;
      align-items: center;
      width: 100%;
      min-height: 41px;
      font-family: var(--font-tisa-ot-lt);
      font-size: 36px;
      margin-bottom: 7px;

      @media (max-width: 1024px) {
        font-family: var(--font-tisa-ot-lt);
        font-size: 24px;
        width: 100%;
        min-height: 29px;
        margin-bottom: 9px;
      }
    }

    &__content {
      display: flex;
      align-items: center;
      font-size: 20px;
      font-family: var(--font-akagi-pro-lt);
      width: 100%;
      max-width: 377px;
      min-height: 56px;
      line-height: 1.4;
      margin-bottom: 32px;

      @media (max-width: 1024px) {
        max-width: 280px;
        min-height: 44px;
        font-size: 16px;
        margin-bottom: 16px;
      }
    }

    &__link {
      display: flex;
      align-items: center;
      width: 122px;
      height: 20px;
      font-size: 14px;
      font-family: var(--font-akagi-pro-bd);
      color: var(--color-black);
    }

    @media (max-width: 767px) {
      padding-left: 17px;
    }
  }

  &__video-block {
    flex: 1;
    width: 100%;

    &__video {
      width: 100%;
    }

    @media (max-width: 767px) {
      margin-bottom: 31px;
    }
  }

  &__link{
    &:before,
    &:after{
     content: none;
    }
  }

  @media (max-width: 1024px) {
    padding: 0 20px 0 20px;
  }

  @media (max-width: 767px) {
    margin-bottom: 41px;
    flex-direction: column-reverse;
    padding: 0;
  }
}
