@import 'colors.css';
@import 'typography.css';

.article-type-indicator {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  border-radius: 2px;
  background-color: var(--color-blue);
  padding: 0 20px;

  color: var(--color-white);
  font-family: var(--font-apple-system);
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 0;

  &--green {
    background-color: var(--color-green-light);
  }

  &--blue {
    background-color: var(--color-blue);
  }
}
