@import 'colors.css';
@import 'typography.css';

.browsing {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100%;
  margin-right: 131px;

  &__info {
    display: flex;
    flex-direction: column;

    &__header {
      display: flex;
      align-items: center;
      width: 100%;
      min-height: 41px;
      font-size: 36px;
      font-family: var(--font-tisa-ot-lt);
      margin-bottom: 7px;

      @media (max-width: 767px) {
        margin-left: 20px;
        font-size: 24px;
        min-height: 29px;
        margin-bottom: 9px;
      }
    }

    &__content {
      display: flex;
      align-items: center;
      font-size: 20px;
      font-family: var(--font-akagi-pro-lt);
      max-width: 377px;
      min-height: 56px;
      line-height: 1.5;
      margin-bottom: 32px;

      @media (max-width: 767px) {
        min-height: 44px;
        margin-left: 20px;
        margin-bottom: 16px;
        font-size: 16px;
      }
    }

    &__link {
      display: flex;
      align-items: center;
      width: 66px;
      height: 20px;
      font-size: 14px;
      color: var(--color-black);
      font-family: var(--font-akagi-pro-bd);

      @media (max-width: 767px) {
        margin-left: 20px;
      }
    }
  }

  &__wifog {
    width: 100%;
    margin-bottom: 40px;

    &__image {
      width: 100%;
    }

    @media (max-width: 767px) {
      margin-bottom: 31px;
    }
  }

  @media (max-width: 767px) {
    margin-right: 0;
    margin-bottom: 64px;
  }

  @media (max-width: 966px) {
    margin-right: 30px;
  }
}
