@import 'colors.css';
@import 'typography.css';

.deals {
  display: flex;
  flex-direction: column;
  width: 100vw;
  padding-bottom: 119px;

  &__info {
    display: flex;
    flex-direction: column;
    padding: 0 80px;
    width: 100%;

    &__title {
      display: flex;
      align-items: center;
      width: 220px;
      height: 41px;
      font-size: 36px;
      font-family: var(--font-tisa-ot-lt);
      margin-bottom: 16px;

      @media (max-width: 767px) {
        width: 147px;
        height: 29px;
        font-size: 24px;
      }
    }

    &__description {
      display: flex;
      align-items: center;
      width: 100%;
      max-width: 494px;
      min-height: 112px;
      font-size: 20px;
      font-family: var(--font-akagi-pro-lt);
      line-height: 1.4;
      margin-bottom: 52px;

      @media (max-width: 767px) {
        text-align: center;
        font-size: 16px;
        margin-bottom: 32px;
        max-width: 340px;
        min-height: 110px;
      }
    }

    @media (max-width: 767px) {
      align-items: center;
      padding: 0 17px;
    }
  }

  &__image {
    &__img {
      width: 100%;
    }
  }

  @media (max-width: 767px) {
    padding-bottom: 48px;
  }
}
