@import 'colors.css';
@import 'typography.css';

.deals {
  display: flex;
  flex-direction: column;
  width: 100vw;
  padding-bottom: 119px;

  &__info {
    display: flex;
    flex-direction: column;
    padding: 0 80px;
    width: 100%;
    @media (min-width: 1440px) {
      padding: 0 180px;
    }

    &__title {
      display: flex;
      align-items: center;
      height: 41px;
      font-size: 36px;
      font-family: var(--font-tisa-ot-lt);
      margin-bottom: 16px;

      @media (max-width: 767px) {
        justify-content: center;
        padding-top: 16px;
        font-size: 24px;
        width: 340px;
        height: 58px;
      }
    }

    &__description {
      display: flex;
      align-items: center;
      width: 100%;
      max-width: 450px;
      min-height: 112px;
      font-size: 20px;
      font-family: var(--font-akagi-pro-lt);
      line-height: 1.4;
      margin-bottom: 52px;

      @media (max-width: 767px) {
        text-align: center;
        font-size: 16px;
        margin-bottom: 32px;
        max-width: 340px;
        min-height: 110px;
      }
    }

    @media (max-width: 767px) {
      align-items: center;
      padding: 0 17px;
    }
  }



  &__image {
      background-image: linear-gradient(-180deg, #ACCEFE 0%, #3A57A9 100%);
      width: 100vw;
      text-align: center;
      text-align: -moz-center;
      text-align: -webkit-center;
    &__img {
    width: 100%;
    padding: 80px 160px;
    max-width: 1600px;
    @media (max-width: 944px) {
      padding: 30px 60px;
    }
    }
  }

  @media (max-width: 767px) {
    padding-bottom: 48px;
  }
}
