@import "shared/colors.css";
@import "shared/typography.css";


.service-list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 480px;
  height: 208px;
  background: var(--color-white);
  border-radius: 6px;

  &:not(:nth-child(-n+2)) {
    @media (min-width: 767px) {
      margin-top: 40px;
    }
  }

  @media (max-width: 767px) {
    width: 100%;
    margin-bottom: 24px;
  }

  &__icon {
    margin-top: 24px;
    margin-bottom: 16px;
    height: 36px;
  }

  &__title {
    text-transform: uppercase;
    font-family: var(--font-heebo-bd);
    font-size: 17px;
    color: var(--color-black-light);
    letter-spacing: 0;
    height: 25px;
    display: flex;
    align-items: center;
    margin-bottom: 16px;

    @media (max-width: 767px) {
      margin-bottom: 24px;
    }
  }

  &__description {
    height: 52px;
    width: 100%;
    max-width: 88%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-heebo-lt);
    font-size: 15px;
    color: var(--color-black);
    letter-spacing: 0;
    line-height: 26px;
  }
}
