@import 'colors.css';
@import 'typography.css';

.mistakes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 17px;
  width: 100%;

  &__image-block {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 745px;
    max-height: 623px;

    &__image {
      width: 100%;
    }

    @media (max-width: 767px) {
      margin-bottom: 48px;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__header {
      display: flex;
      text-align: left;
      align-items: center;
      width: 100%;
      max-width: 363px;
      min-height: 82px;
      font-size: 36px;
      font-family: var(--font-tisa-ot-lt);
      line-height: 1.2;
      margin-bottom: 16px;

      @media (max-width: 966px) {
        font-size: 20px;
        max-width: 340;
        min-height: 28px;
        margin-bottom: 8px;
      }
    }

    &__content {
      display: flex;
      align-items: center;
      font-size: 20px;
      font-family: var(--font-akagi-pro-lt);
      line-height: 1.4;
      min-height: 196px;
      width: 100%;
      max-width: 408px;

      @media (max-width: 966px) {
        font-size: 16px;
        height: 154px;
        max-width: 340px;
        line-height: 1.4;
      }
    }
  }

  @media (max-width: 767px) {
    flex-direction: column;
    align-items: center;
  }
}
