@import "shared/colors.css";
@import "shared/typography.css";


.about {
  margin-bottom: 160px;
  margin-top: 160px;
  display: block;

  &__title {
    font-family: var(--font-sfns);
    font-size: 35px;
    color: var(--color-black);
    letter-spacing: 0.62px;
    text-align: left;
  }

  &__description {
    display: inline-block;
    float: left;
    text-align: left;
    max-width: 360px;
    font-size: 17px;
    letter-spacing: 0.85px;
    line-height: 34px;
    font-weight: 200;
    color: var(--color-black);
  }

  &__img {
    display: inline-block;
    width: 240px;
  
  }
}
