/* css/shared/colors.css */

:root {
  --color-main: #000e24;

  --color-white: #ffffff;
  --color-black: #000000;
  --color-black-light: #000e24;
  --color-blue: #006bc4;
  --color-green-light: #3dcf62;
  --color-gray-light: rgba(0, 0, 0, 0.5);
}
