@import 'colors.css';
@import 'typography.css';

.top-block {
  width: 100vw;
  height: 100vh;
  background-color: transparent;
  /* background-color: rgba(255, 255, 255, 0.4); */
  /* position: absolute;
  top: 0;
  left: 0;*/
  z-index: 2;
  position: relative;
  /* overflow: hidden; */

  &__horizontal-line {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    bottom: -100%;
    z-index: 20;
    background-color: #b4649c;
    /* transform: translateY(0%) scaleY(1.5); */
    /* transition: 1s ease-in-out;
    transform: translate(3em, 0); */
    /* matrix(1, 0, 0, 1, 0, 0); */
  }

  &__video-block-wrapper {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
  }

  &__video-block {
    color: inherit;
    text-decoration: none;
    /* display: none; */
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    cursor: pointer;
    background: 50% no-repeat;
    background-size: cover;
    overflow: hidden;
    transition: transform 0.5s ease-in-out;
    transform: matrix(1.1, 0, 0, 1.1, 0, 0);
    /* background-image: url("https://cdn.ueno.co/contentful/6P0DLTdiSW4kAYeQ2yWcwu.jpg"); */

    &.animation-is-finished {
      &:hover {
        transform: scale(0.95) !important;

        & video {
          transform: scale(1.15) !important;
        }
      }
    }

    & video {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform 0.5s ease-in-out;
      object-fit: cover;
    }
  }

  &__circle-wrapper {
    top: -15%;
    right: calc(-60vh);
    width: 105vw;
    height: 105vw;
    max-width: 120vh;
    max-height: 120vh;
    position: absolute;
  }

  &__circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #b4649c;
    /* background: #edb39a; */
    transition: transform 0.4s ease-in;
    transform: matrix(0.7, 0, 0, 0.7, 0, 0);
  }
}
