@import "shared/colors.css";
@import "shared/typography.css";

.articles {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 171px;
  width: 100%;
  max-width: 1020px;

  @media (max-width: 767px) {
    margin-bottom: 108px;
  }
  &__title {
    height: 41px;
    display: flex;
    align-items: center;
    font-family: var(--font-sfns);
    font-size: 35px;
    color: var(--color-white);
    letter-spacing: 0.62px;
    text-align: left;
    margin-bottom: 72px;

    @media (max-width: 767px) {
      height: 52px;
      margin-bottom: 21px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
  }
}
