@import "shared/colors.css";
@import "shared/typography.css";

.service-list {
  margin-bottom: 160px;
  /* display: flex; */
  width: 100%;
  max-width: 1020px;

  @media screen and (max-width: 767px) {
    margin-bottom: 75px;
  }

  &__title {
    width: 174px;
    height: 52px;
    display: flex;
    align-items: center;
    font-family: var(--font-sfns);
    font-size: 35px;
    color: var(--color-white);
    letter-spacing: 0.62px;
    text-align: left;
    margin-bottom: 56px;

    @media (max-width: 767px) {
      height: 41px;
      font-size: 35px;
      letter-spacing: 0.62px;
      margin-bottom: 70px;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
