@import 'colors.css';
@import 'typography.css';

.cobase-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  background-color: var(--color-white);
  position: relative;
  max-width: 1280px;
}
