@import "shared/colors.css";
@import "shared/typography.css";


.article {
  display: flex;
  flex-direction: column;
  margin-bottom: 21px;

  &__body {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 30px;
    justify-content: flex-start;
    margin-bottom: 9px;
  }

  &__author {
    height: 15px;
    display: flex;
    align-items: center;
    opacity: 0.5;
    font-family: var(--font-apple-system);
    font-size: 13px;
    color: var(--color-white);
    letter-spacing: 0;
  }

  &__title {
    height: 25px;
    display: flex;
    align-items: center;
    font-family: var(--font-heebo-lt);
    font-size: 17px;
    color: var(--color-white);
    letter-spacing: 0;
    margin-right: 16px;
  }
}
