@import 'colors.css';
@import 'typography.css';

.experience {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  background-color: var(--color-blue-light);
  padding-bottom: 80px;

  &__header {
    display: flex;
    align-items: center;
    height: 41px;
    font-size: 36px;
    font-family: var(--font-tisa-ot-lt);
    margin-top: 86px;
    margin-bottom: 23px;

    @media (max-width: 767px) {
      height: 29px;
      font-size: 24px;
      margin-bottom: 16px;
      margin-top: 47px;
    }
  }

  &__info {
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;
    max-width: 745px;
    min-height: 168px;
    font-size: 20px;
    line-height: 1.4;
    font-family: var(--font-akagi-pro-lt);
    margin-bottom: 56px;

    @media (max-width: 767px) {
      max-width: 374px;
      padding: 0 17px;
      min-height: 220px;
      font-size: 16px;
      margin-bottom: 32px;
    }
  }

  @media (max-width: 767px) {
    padding-bottom: 64px;
  }
}
