@import "shared/colors.css";
@import "shared/typography.css";

.home-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  max-width: 1020px;
  color: var(--color-white);
  padding-top: 306px;
  text-align: center;
  position: relative;
}
